/* Main body container */
a {
  color: blueviolet;
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

.al-content {
  display: inline;
}

.al-text {
  font-family: Arial, Helvetica, sans-serif;
}

.article-list-info {
  font-size: 0.8em;
}

.article-list-title {
  padding-bottom: 0;
}

.loading-text {
  margin-left: 2.4em;
}
