.logo-text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #ffffff;
}

.heading-logo {
  background-color: #fe4042;
}

.heading-flex {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0em 1em;
}
