.thread-article-title {
  font-weight: bold;
  margin-left: 2.4em;
}

.thread-content {
  margin-left: 2.4em;
  margin-right: 1em;
}

.thread-info {
  margin-left: 2.4em;
  color: #888;
}

.ti {
  font-size: 0.8em;
}

.comment-box {
  margin-left: 2.4em;
}

.comment-input {
  width: 94%;
  height: 10em;
}

.thread-comments {
  margin-left: 2.4em;
  margin-right: 1em;
}

.thread-info-upvote,
.thread-info-downvote {
  cursor: pointer;
}

.comment-info {
  font-size: 0.8em;
  margin-top: -0.5em;
  color: #888;
}

.comment-upvote,
.comment-downvote {
  cursor: pointer;
}

.comment-delete {
  cursor: pointer;
}
